# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Airflow
airflow.db
airflow-webserver.pid
logs/

# Environment
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Virtual environments
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/

# Jupyter Notebook (if ever used)
.ipynb_checkpoints/

# PyCharm
*.iml
*.ipr
*.iws

# GCP credentials (if ever downloaded locally)
*credentials.json
